* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 :root {
    --background-color: #86644f;
 }

 h1, h2, h3, h4, p {
    color: #86644f;
 }

 header {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
header, footer {
    margin: 20px;
    padding: 15px;
}

#green-header h1 {
    color: #112d23;
    background-color: #7e7a73;
}


header ul a {
    text-decoration: none;
    color: #86644f;
}

header ul {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

#featured-work {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


#about-me-section {

}


#contact-me {
    display: flex;
    justify-content: center;
    background-color: #112d23;
    padding-bottom: 50px;
}

.about-me-section{
    margin: 1vh;
    padding: 1vh;
    width: 100%;
    display: block;
    overflow: hidden;
    max-height: fit-content;
}

.about-me-section h2, p{
    display: block;
    align-items: flex-start;

}


#portrait {
    max-width: 200px;
    max-height: 200px;
    margin-right: 20px;
    border: #112d23 solid 10px;
    border-radius: 20px;
}

.about-me-section div {
    display: inline;
}

.featured-projects-containers {
    border: #112d23 solid 1px;
    margin: 10px;
    display: grid;
    grid-template-columns: 200px 300px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    text-align:left block;
    border-radius: 10px;
    padding: 5px;
    flex: 1 1;
    color: #112d23;
    flex-direction: column;

}

#featured-work-styling {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 10px;
}
 
footer {
    text-align: center;
}

#link {
    margin-left: 2vw;
}

#link:hover {
    text-decoration: underline solid #b47243;
}

.featured-projects-containers:hover {
    background-color: #112d23;
}

#icons {
    display: flex;
    justify-content: space-around;
    max-width: 50px;
    max-height: 50px;
}


#landing-section {
   background-image: url('../assets/images/Professional\ Photo\ copy.jpeg');
   background-color: var(--color);
   background-size: cover;
   background-position: top;
   height: 500px;
   max-width: 1400px;
}

#landing-section h2 {
    align-items: flex-end;
    color: var(--background-color);
    text-align: left;
    position: relative;
    top: 100px;
    max-width: 300px;
    padding-left: 50px;
}

#landing-section p {
    align-items: flex-end;
    text-align: left;
    position: relative;
    top: 100px;
    max-width: 300px;
    padding-left: 50px
   }

#icons img {
    display: flex;
    max-height: 50px;
    padding-top: 50px;
}

@media screen and (max-width: 768px) {
    #landing-section h2 {
        max-width: 200px;}
    #landing-section p {
        max-width: 200px;
    }}

.featured-work-styling-01 {
    display: flex;
    flex-grow: 2;
}
