* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --background-color: #86644f;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    margin: 20px;
    padding: 15px;
}

#green-header h1 {
    color: #112d23;
    background-color: #7e7a73;
}

header ul a {
    text-decoration: none;
    color: #86644f;
}

header ul {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

#featured-work {
    background-color: #b47243;
    color: #112d23;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


#about-me-section {}


#contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #112d23;
    padding-bottom: 50px;
}

.about-me-section {
    margin: 1vh;
    padding: 1vh;
    width: 100%;
    display: block;
    overflow: hidden;
    max-height: fit-content;
}

.about-me-section h2,
p {
    display: block;
    align-items: flex-start;

}

#portrait {
    max-width: 200px;
    max-height: 200px;
    margin-right: 20px;
    border: #112d23 solid 10px;
    border-radius: 20px;
}

.about-me-section div {
    display: inline;
}

#FW-color {
    color: #112d23;
    text-align: center;
}

#featured-work-styling {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    min-width: 50%;
}

#projects-box-01 {
    background-image: url('../assets/images/horiseon-pic.png');
    background-color: #112d23;
    background-size: cover;
    background-position: bottom;
    opacity: .75;
    height: 200px;
}

#projects-box-02 {
    background-image: url('../assets/images/Screenshot\ 2023-05-10\ at\ 11.34.59\ AM.png');
    background-color: var(--color);
    background-size: cover;
    background-position: top;
    height: 100px;
    opacity: .75;
}

#projects-box-03 {
    background-image: url('../assets/images/hands.jpg');
    background-color: var(--color);
    background-size: cover;
    background-position: center;
    height: 102px;
    opacity: .75;
}

#projects-box-04 {
    background-image: url('../assets/images/PullUp.jpg');
    background-color: var(--color);
    background-size: cover;
    background-position: center;
    height: 102px;
    opacity: .75;
}

footer {
    text-align: center;
}

#link {
    margin-left: 2vw;
}

.link-external {
    text-decoration: none;
    color: antiquewhite;
    text-shadow: 2px 8px 8px #112d23;
}
#link:hover {
    text-decoration: underline solid #b47243;
}

.featured-styling-box {
    border: #112d23 solid 10px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: #112d23;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: antiquewhite;
}




#landing-section {
    background-image: url('../assets/images/Professional\ Photo\ copy.jpeg');
    background-color: var(--color);
    background-size: cover;
    background-position: top;
    height: 500px;
    max-width: 1400px;
}

#landing-section h2 {
    align-items: flex-end;
    color: var(--background-color);
    text-align: left;
    position: relative;
    top: 100px;
    max-width: 300px;
    padding-left: 50px;
}

#landing-section p {
    align-items: flex-end;
    text-align: left;
    position: relative;
    top: 100px;
    max-width: 300px;
    padding-left: 50px
}

#icons img {
    max-height: 50px;
}

.featured-styling-box:hover {
    border-color: antiquewhite;
}

@media screen and (max-width: 768px) {
    #landing-section h2 {
        max-width: 200px;
    }

    #landing-section p {
        max-width: 200px;
    }
}